{% extends 'base.html' %}

{% block content %}
    <div class="row m-auto justify-content-center">
        <div class="card mt-4 w-100" id="rowAccount">
            <div class="card-header text-center">
                <p id="pk" class="d-none">{{account.pk}}</p>
                <h2 class="card-title text-primary " id="name">{{account.name}}</h2>
                <p id="phone">{{account.phone}}</p>
            </div>
            <div class="card-body">
                <div class="card-group d-flex justify-content-around">
                    <p class="card-text" >نوع الحساب: <span id="type">{{account.type}}</span></p>
                    <p class="card-text" >تاريخ التسجيل: <span id="date">{{account.register_date}}</span></p>
                </div>
                <div class="card-group d-flex justify-content-around">
                    <p class="card-text" >حالة الحساب: <span id="active">{% if account.active %}نشط{% else %}موقف{% endif %}</span></p>
                    <p class="card-text" >أعلى قيمة للسحب : <span id="allow_max">{{account.allow_max}}</span></p>
                </div>
            </div>
            <div class="card-footer">
                <div class="card-group align-items-start justify-content-around">
                    <div class="btns_actions w-100 d-flex justify-content-around">
                        <button class="btn btn-outline-primary btn-sm btn_update_account" id="btn_update"  type="button" data-toggle="modal" data-target="#updateAccount">تعديل</button>
                        <button class="btn btn-outline-danger btn-sm btn_delete_account" id="btn_delete" type="button" data-toggle="modal" data-target="#deleteAccount" data-account-id="{{account.id}}">حذف</button>
                      </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock content %}
