{% extends 'base.html' %}

{% block content %}
    <h2 class="card-title text-primary text-center m-4">كل الحسابات</h2>

<div class="card mb-3">
    <div class="card-header text-center">
      <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#AccountAdd">
        <span class="float-right">
          <i class="fa fa-plus"></i>
          حساب جديد
        </span>
      </a>
    </div>
    
    <div class="card-body">
      <div class="table-responsive ">
        <table class="table table-hover text-center" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>الاسم</th>
              <th>نوع الحساب</th>
              <th>تحكم</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
                <th>الاسم</th>
                <th>نوع الحساب</th>
                <th>تحكم</th>
            </tr>
          </tfoot>
          <tbody>
            {% for acc in accounts %}
            <tr id="rowAccount">
              <td id="pk" class="d-none">{{acc.pk}}</td>
              <td id="name"><a href="{% url 'account' acc.pk  %}">{{acc.name}}</a></td>
              <td class="{% if acc.type == 'مدين' %} text-danger {% else %} text-success  {% endif %}"><span id="type">{{acc.type}}</span></td>
              <td id="phone" class="d-none">{{acc.phone}}</td>
              <td id="allow_max" class="d-none">{{acc.allow_max}}</td>
              <td id="active" class="d-none">{{acc.active}}</td>
              <td class="w-25">
                <div class="btns_actions w-100 d-flex justify-content-around">
                  <button class="btn btn-outline-primary btn-sm btn_update_account" id="btn_update" type="button" data-toggle="modal" data-target="#updateAccount">تعديل</button>
                  <button class="btn btn-outline-danger btn-sm btn_delete_account" id="btn_delete" type="button" data-toggle="modal" data-target="#deleteAccount" data-account-id="{{acc.id}}">حذف</button>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
{% endblock content %}
