
<!-- <div class="modal fade" id="NewTransaction" tabindex="-1" aria-labelledby="TransactionModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="TransactionModalLabel">عملية جديدة</h4>
                <button class="btn btn-outline-danger" type="button" data-dismiss="modal" aria-label="close">X</button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group d-flex flex-column align-items-start">
                        <label for="type" class="form-label-group">نوع العملية</label>
                        <select name="type" id="type" class="form-control">
                            <option value="سحب" class="form-select">سحب</option>
                            <option value="سداد">سداد</option>
                        </select>
                    </div>
                    <div class="form-group d-flex flex-column align-items-start">
                        <label for="account" class="form-label-group">الحساب</label>
                        <select name="account" id="account" class="form-control">
                            <option value="0" >يرجى إختيار الحساب</option>
                           {% for account in accountChose %}
                                <Option value="{{account.name}}">{{account.name}}</Option>
                           {% endfor %}
                        </select>
                        <small class="float-right">الحساب ليس موجود? <a href="#"data-toggle="modal" data-target="#NewAccount">إضافة</a> </small>                    
                    </div>
                    <div class="form-group d-flex flex-column align-items-start">
                        <label for="balance" class="form-label-group">المبلغ</label>
                        <input type="number" class="form-control" name="balance" id="balance">
                    </div>
                    <div class="form-group d-flex flex-column align-items-start">
                        <label for="content" class="form-label-group">البيان</label>
                        <textarea name="content" class="form-control" id="content"></textarea>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-success" value="حفظ">
                    </div>
                </form>
            </div>

            <div class="modal-footer d-flex justify-content-around">
                <button class="btn btn-success w-50 ml-2" type="submit" >حفظ</button>
                <button class="btn btn-secondary w-50 mr-2" type="button" data-dismiss="modal">إلغاء</button>
            </div>
        </div>
    </div>
</div> -->

<div class="modal fade" id="updateTransaction" tabindex="-1" aria-labelledby="TransactionModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="TransactionModalLabel">عملية جديدة</h4>
                <button class="btn btn-outline-danger" type="button" data-dismiss="modal" aria-label="close">X</button>
            </div>
            <div class="modal-body">
                <form action="{% url 'updateTransaction' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="pk" id="pk" class="d-none">
                        {{TransactionForm.as_p}}
                    <div>
                        <input type="submit" class="btn btn-success" value="حفظ">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="deleteTransaction" tabindex="-1" role="dialog" aria-labelledby="deleteTransactionLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h5 class="modal-title text-danger" id="deleteTransactionLabel">تأكيد الحذف</h5>
        </div>
        <div class="modal-body">
          <div id="delete-message" class="w-100 m-auto d-flex justify-content-center">
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-around">
          <form action="{% url 'deleteTransaction' %}" method="POST">
            {% csrf_token %}
            <input type="text" class="d-none" name="delete_id" id="delete_id">
            <button type="submit" class="btn btn-danger" id="btn_delete_confirmed">حذف</button>
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
        </div>
      </div>
    </div>
</div>

<!-- <div class="modal fade" id="NewAccount" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="accountModalLabel">حساب جديد</h4>
                <button class="btn btn-outline-danger" type="button" data-dismiss="modal" aria-label="close">X</button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group d-flex flex-column align-items-start">
                        <label for="name" class="form-label-group">الاسم</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>
                    <div class="form-group d-flex flex-column align-items-start">
                        <label for="phone" class="form-label-group">الرقم</label>
                        <input type="tel" class="form-control" name="phone" id="phone">
                    </div>
                    <div class="form-group d-flex flex-column align-items-start">
                        <label for="allow_max" class="form-label-group">أعلى قيمة مسموح بها</label>
                        <input type="number" class="form-control" name="allow_max" id="allow_max">
                    </div>
                    <div class="form-group d-flex flex-column align-items-start">
                        <label for="type" class="form-label-group">نوع الحساب</label>
                        <select name="type" id="type" class="form-control">
                            <option value="دائن" class="form-select">دائن</option>
                            <option value="مدين">مدين</option>
                        </select>
                    </div>
                    <div class="form-group d-flex flex-row align-items-center">
                        <input type="checkbox" name="active" checked id="active" class="form-check-inline">
                        <label for="active" class="form-check-label">نشط</label>
                    </div>
                    <div class="form-group align-self-start">
                        <input type="submit" class="btn btn-success" value="حفظ">
                    </div>
                </form>
            </div>

            <div class="modal-footer d-flex justify-content-around">
                <button class="btn btn-success w-50 ml-2" type="button">حفظ</button>
                <button class="btn btn-secondary w-50 mr-2" type="button" data-dismiss="modal">إلغاء</button>
            </div>
        </div>
    </div>
</div> -->
<div class="modal fade" id="updateAccount" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="accountModalLabel">حساب جديد</h4>
                <button class="btn btn-outline-danger" type="button" data-dismiss="modal" aria-label="close">X</button>
            </div>
            <div class="modal-body">
                <form action="{% url 'updateAccount' %}" method="post">
                    {% csrf_token %}
                    <input type="text" class="d-none" name="pk" id="pk">
                    <div class="form-group d-flex flex-column align-items-start">
                        <label for="name" class="form-label-group">الاسم</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>
                    <div class="form-group d-flex flex-column align-items-start">
                        <label for="phone" class="form-label-group">الرقم</label>
                        <input type="tel" class="form-control" name="phone" id="phone">
                    </div>
                    <div class="form-group d-flex flex-column align-items-start">
                        <label for="allow_max" class="form-label-group">أعلى قيمة مسموح بها</label>
                        <input type="number" class="form-control" name="allow_max" id="allow_max">
                    </div>
                    <div class="form-group d-flex flex-column align-items-start">
                        <label for="type" class="form-label-group">نوع الحساب</label>
                        <select name="type" id="type" class="form-control">
                            <option value="دائن" class="form-select">دائن</option>
                            <option value="مدين">مدين</option>
                        </select>
                    </div>
                    <div class="form-group d-flex flex-row align-items-center">
                        <input type="checkbox" name="active" checked id="active" class="form-check-inline">
                        <label for="active" class="form-check-label">نشط</label>
                    </div>
                    <div class="form-group d-flex  align-self-start">
                        <input type="submit" class="btn btn-success w-50 mr-2" value="حفظ">
                        <button class="btn btn-secondary w-50 mr-2" type="button" data-dismiss="modal">إلغاء</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






<div class="modal fade" dir="rtl" id="AccountAdd" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="accountModalLabel">حساب جديد</h4>
                <button class="btn btn-outline-danger" type="button" data-dismiss="modal" aria-label="close">X</button>
            </div>
            <div class="modal-body">
              <form action="{% url 'accounts' %}" dir="rtl" method="POST">
                {% csrf_token %}
                {{AccountForm.as_p}}
                <div class="d-flex justify-content-around">
                    <input type="submit" class="btn btn-success w-50 mr-2" value="حفظ">
                    <button class="btn btn-secondary w-50 mr-2" type="button" data-dismiss="modal">إلغاء</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteAccount" tabindex="-1" role="dialog" aria-labelledby="deleteTransactionLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h5 class="modal-title text-danger" id="deleteTransactionLabel">تأكيد الحذف</h5>
        </div>
        <div class="modal-body">
          <div id="delete-account-message" class="w-100 m-auto d-flex justify-content-center">
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-around">
          <form action="{% url 'deleteAccount' %}" method="POST">
            {% csrf_token %}
            <input type="text" class="d-none" name="delete_account_id" id="delete_account_id">
            <button type="submit" class="btn btn-danger" id="btn_delete_confirmed">حذف</button>
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="TransactionAdd" tabindex="-1" aria-labelledby="TransactionModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="TransactionModalLabel">عملية جديدة</h4>
                <button class="btn btn-outline-danger" type="button" data-dismiss="modal" aria-label="close">X</button>
            </div>
            <div class="modal-body">
                <form action="{% url 'Home' %}" method="POST">
                    {% csrf_token %}
                    {{TransactionForm.as_p}}
                    <div class="d-flex justify-content-around">
                        <input type="submit" class="btn btn-success w-50 mr-2" value="حفظ">
                        <button class="btn btn-secondary w-50 mr-2" type="button" data-dismiss="modal">إلغاء</button>
                    </div>
                </form>
            </div>

            
        </div>
    </div>
</div>



 <!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close text-white" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <form action="{% url 'Profile:logout' %}" method="POST">
                {% csrf_token %}
                    {{form.as_p}}
                <input type="submit" class="btn btn-danger" value="logout">
            </form>
        </div>
      </div>
    </div>
</div>
