
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'Home' %}">إدارة الديون</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" dir="ltr" id="navigation">
      {% if user.is_authenticated %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" dir="rtl">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-plus fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#AccountAdd"> <i class="fa fa-tag"></i> حساب جديد</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#TransactionAdd"> <i class="fa fa-money"></i> عملية جديدة  </a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-flash fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="{% url 'accounts' %}"> <i class="fa fa-tag"></i>الحسابات  </a>
            <a class="dropdown-item" href="{% url "Home" %}"> <i class="fa fa-tags"></i> التحويلات</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow ml-3">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="userDropdown">
            <div class="dropdown-header">{{user}}</div>
            <a class="dropdown-item" href="{% url 'Profile:profile' %}"> <i class="fa fa-user"></i> الملف الشخصي</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"> <i class="fa fa-power-off"></i> تسجيل خروج</a>
          </div>
        </li>
      </ul>
      {% else %}
      <a class="navbar-brand" href="{% url 'Profile:login' %}">
          <i class="fa fa-user-circle"></i>
      </a>
      {% endif %}
    </div>
  </div>
</nav>
